<div id="testi-carousel" class="testi carousel slide" data-bs-ride="carousel">

  <ol class="carousel-indicators">
    <li data-bs-target="#testi-carousel" data-bs-slide-to="0" class="active"></li>
    <li data-bs-target="#testi-carousel" data-bs-slide-to="1"></li>
    <li data-bs-target="#testi-carousel" data-bs-slide-to="2"></li>
    <li data-bs-target="#testi-carousel" data-bs-slide-to="3"></li>
    <li data-bs-target="#testi-carousel" data-bs-slide-to="4"></li>
    <li data-bs-target="#testi-carousel" data-bs-slide-to="5"></li>
  </ol>

  <div class="carousel-inner">

    <div class="carousel-item text-center active">
      <p class="testi__quotemark">❝</p>
      <blockquote>I cried and cried. No other testimony has ever affected me to tears like yours!</blockquote>
      <p class="testi__author">By: Susan</p>
    </div>

    <div class="carousel-item text-center">
      <p class="testi__quotemark">❝</p>
      <blockquote>I found your story… It's quite possibly the most moving testimony I've ever heard.</blockquote>
      <p class="testi__author">By: Jim</p>
    </div>

    <div class="carousel-item text-center">
      <p class="testi__quotemark">❝</p>
      <blockquote>I felt the power of God as I read this man's testimony.</blockquote>
      <p class="testi__author">By: Adrian</p>
    </div>

    <div class="carousel-item text-center">
      <p class="testi__quotemark">❝</p>
      <blockquote>What an awesome testimony! I was praising Jesus with tears running down my face.</blockquote>
      <p class="testi__author">By: Gail</p>
    </div>

    <div class="carousel-item text-center">
      <p class="testi__quotemark">❝</p>
      <blockquote>It’s so amazing what God can do. Reading your story helped set me back on my feet.</blockquote>
      <p class="testi__author">By: Selina</p>
    </div>

    <div class="carousel-item text-center">
      <p class="testi__quotemark">❝</p>
      <blockquote>WOW! What can I say? I know nothing is impossible with God but He sure went a long way with you.</blockquote>
      <p class="testi__author">By: Charlie</p>
    </div>
  </div>

  <a class="carousel-control-prev" href="#testi-carousel" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next" href="#testi-carousel" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
</div>
